#home {
	background-color:#F9C685;
	
	
	}
	
#home #mypanelc{
	
	background-color:#FFB562;
	
	}
	
#home #mypanelc a{
	
	background-color:#FFAB22;
	color:#000;
	
	}
	
	#home #heade1c{
		
		background-color:#8E0000;
		
		}
		
	#home #heade1c #burger{
		
		background-color:#8E0000;
		
		}
		
	#home #heade1c a{
		
		background-color:#8E0000;
		
		}
		
		
		
	
	
#home #grande{
	
	background-color:#FFE1AF;
	
	padding-left:3px;
	
	border-radius: 15px 15px 15px 15px;
	
	}
	
#home #peque1 {
	
	background-color:#FFE1AF;
	
	padding-left:3px;
	
	border-radius: 15px 15px 15px 15px;
	}

#home #peque2 {
	
	background-color:#FFE1AF;
	padding-left:3px;
	border-radius: 15px 15px 15px 15px;
	
	}
	
	#home h1{
	
	color:#000;
	
	
	}
	
#home h2{
	
	color:#AE0002;
	
	
	}

#home h3{
	
	color:#000;
	
	
	}
#home h4{
	
	color:#AE0002;
	
	
	}
	
	#home #anon{
	
	color:#AE0002;
	
	
	}
	
	
#debate1 #mypanel{
	
	background-color:#FFB562;
	
	}
	
#debate1 #mypanel a{
	
	background-color:#FFAB22;
	color:#000;
	
	}
#debate1{
background-color:#F9C685;	

	
	}
#debate1 #content #main{
	
	background-color:#FFE1AF;
	
	padding-left:10px;
	
	border-radius: 15px 15px 15px 15px;
	
	
	}
	
	#debate1 h2{
	
	color:#000;
	
	
	}
	
#debate1 h1{
	
	color:#AE0002;
	
	
	}
	
#debate1 #header{
	
	background-color:#8E0000;
	
	}
	
	#debate1 #header a{
	
	background-color:#8E0000;
	
	}
	
	#debate1 #header #boton{
	
	background-color:#8E0000;
	
	}
#debate1 #menu{
		
		
	
	}
	
	#debate1 h3{
		
		color:#AE0002;
		
		margin-left:10px;
		
		
		}
#debate1 #comment{
	background-color:#FFE1AF;
	padding:10px;
	border-radius: 15px 15px 15px 15px;
	
	}
	
	
	#filtros #mypanelf{
	
	background-color:#FFB562;
	
	}
	
#filtros #mypanelf a{
	
	background-color:#FFAB22;
	color:#000;
	
	}
#filtros{
	background-color:#F9C685;
	
	}
	
#filtros #control #pop{
	background-color:#FFA035;
	color:#FFF;
		
	}
	
#filtros #control #alf{
	background-color:#FFA035;
	color:#FFF;
		
	}

#filtros #control #hola{
	background-color:#FFA035;
	color:#FFF;
		
	}
#filtros #control #cat{
	
	background-color:#FFA035;
	color:#FFF;
	
	}
	
#filtros #heade1r{
	background-color:#8E0000;
	
	}
	
	#filtros #heade1r a{
	background-color:#8E0000;
	
	}
	
	#filtros #heade1r #elboton{
	background-color:#8E0000;
	
	}
	
#debate{
	
	background-color:#F9C685;
	
	}
	
#debate h2{
	
	color:#AE0002;
	
	}
	
#debate #select-choice-1{
		
		background-color:#FFA035;
	color:#FFF;
		
		}
#debate a{
		
		background-color:#FFA035;
	color:#FFF;
		
		}
		
	#debate #headerd{
		
		background-color:#AE0002;
		
		}

#debate #headerd a{
		
		background-color:#AE0002;
		
		}
		
		
	#debate #headerd button{
		
		background-color:#AE0002;
		
		}
		
		
	#debate #mypaneld{
	
	background-color:#FFB562;
	
	}
	
#debate #mypaneld a{
	
	background-color:#FFAB22;
	color:#000;
	
	}
	